a{
  color: black;
  text-decoration: none;
}
.aboutLink{
    color: blue;
    text-decoration: underline;
}
.menu {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  width: 250px;
}
.menu-item {
  height: 30px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.menu-item-content{
    padding: 5px;
    width: fit-content;
}
.settings-menu-item{
    height: 20px;
    position: relative;
    cursor: pointer;
    padding: 5px;
    text-align: center;
}
.menu-item:hover, .settings-menu-item:hover {
  background-color: #ededed;
}
.icon{
  width: 15px;
  height: 15px;
}
.link{
  width: 100%;
  display: inline-block;
}
.arrow{
  position: absolute;
  right: 0;
  top:10px;
}
.react-toggle{
  margin-left: 10px;
  margin-top: 2px;
  height: 20px;
}
.react-toggle-track{
  height: 20px;
}
.react-toggle-thumb{
  height: 18px;
  width: 18px;
}
.toggleIcons{
  height: 12px;
  width: 12px;
}
#toggle-bar{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.toggle-bar-disabled-button{
  width: 33%;
  height: 20px;
  background-color: white;
  border: 1px solid lightgray;
}
.toggle-bar-enabled-button{
  width: 33%;
  height: 20px;
  background-color: gray;
  border: 1px solid gray;
  color: #ffffff;
}
.warningBlock{
    font-size: 11px;
    margin: 2px;
}
.errorText{
    color:red;
}
.inputField{
    width: 99%;
    box-sizing: border-box;
    display: block;
    margin: auto;
    border: 1px solid gray;
    height: 20px;
}
.dragBox{
    background-color: lightgray;
    opacity: 0.5;
    display: inline-block;
    width: 250px;
    padding: 5px;
    height: 20px;
}
#ContextMenu{
    position: absolute;
    width: 60px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 3px 3px 2px grey;
    font-size: 12px;
}
#ContextMenu span {
    display: block;
    width:100%;
    padding: 3px;
    height: 20px;
    box-sizing: border-box;
    cursor: pointer;
}
#ContextMenu span:hover {
    background-color: #ededed;
}
.plainButton {
  width: 99%;
  height: 25px;
  margin: auto;
  display: block;
  margin-bottom: 2px;
}