#buttonRow{
	display: flex;
	flex-direction: row;
}
.menuButton{
	width: 25%;
	background-color: white;
	border: none;
	border-bottom: 1px solid gray;
	cursor: pointer;
    padding-top: 5px;
}
.menuButton:hover{
	background-color: #ededed;
}
.menuButton:disabled{
	cursor: default;
}
.menuButton:disabled:hover{
	background-color: white;
}
#backButton{
	width: 50%;
}
#onlyBack{
	width: 100%;
}